@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Input fields */
.card{
    box-shadow: 0 10px 30px 0px rgba(0,0,0,0.2) !important;
    margin: 30px;
}

.form .form-field{
    position: relative;
    margin: 15px 0;
}

.form .input-text{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #465561;
    font-size: 18px;
    line-height:26px;
    font-weight: 400;
    color: #465561;
}


.form .input-text:focus{
    outline:none;
}
.form span{
    position: absolute;
    left: 5px;
    bottom:5px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #465561;
    pointer-events: none;
    cursor: text;
    transition: 0.5s;
}
.form .form-field input:focus ~ span,
.form .form-field input:valid ~ span{
    font-size: 12px;
    transform: translateY(-25px) !important;
}
.form .input-select{
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #465561;
    font-size: 18px;
    line-height:26px;
    font-weight: 400;
    background-color: #fff !important;
    color: #465561;
}
.form .input-select:focus{
    outline:none;
}
.form .form-field select:focus ~ span,
.form .form-field select:valid ~ span{
    font-size: 12px;
    background-color: #fff;
    transform: translateY(-25px) !important;
}

.form button{
    margin-top: 10px;
    width:30%;
}


/* Tables */
.content-table{
    border-collapse: collapse;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    /* font-family: "Poppins", sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.content-table thead tr{
    background-color: #465561;
    color: #fff;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #465561;
}

.content-table tbody tr .btn-crud{
    color: #fff;
    width: 50px;
}